/*This sets the entire pages margin, font-family, font-color, and background
color*/

body {
  margin-top: 0px;
  margin: 0;
  font-family: system-ui;
  background-color: black;
  color: white;
}

/*this sets all of the links on the Nav bar to a relative position 150 px from 
the top of the screen, no padding, a white font, a transparent background, 
removes bullets, and floats it to the right*/
.links {
  position: relative;
  margin-top: 150px;
  padding: 0px;
  color: white;
  background-color: transparent;
  list-style-type: none;
  top: 0;
  float: right;
}

/*This sets the nav bar to have no padding, aligns the list items in a straight 
line, aligns it to the right, selects font, and font size*/
.header nav {
  padding-top: 0px;
  flex-direction: row;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/*This provides the display type, and left margin for the unordered list in the
navigation section of the header, and to display the list items horizontally,
instead of vertically.*/
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  border-radius: 50%;
}

.boxes p {
  text-align: center;
}

.box {
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  border: 5px solid black;
  border-width: 1px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 0px;
  flex: 0 0 300px;
  margin: 100px;

}

.box img {
    border: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
    
.copyright {
  position: absolute;
  bottom: 0;
}

#contact {
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

h3,
h4 {
  font-size: 40px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.content {
  text-align: left;
  margin-left: 10px;
  justify-self: center;
  font-size: 15px;
}

h2 p {
  font-size: 15px;
}

ul {
  text-align: right;
  list-style-position: inside;
  padding-right: 10px;
}

.image {
  margin-top: 0px;
  padding-top: 100px;
  color: white;
  background-image: url(../images/header_image.jpg);
  height: 80px;
  background-size: 100% 100%;
  text-align: start;
  align-items: start;
}

#image1 {
  box-shadow: 10px 10px 10px #3ebbf1;  
}

#image2 {
  box-shadow: 10px 10px 10px #be3fcc;
}

#image3 {
  box-shadow: 10px 10px 10px #ff7f27;
}

#image4 {
  box-shadow: 10px 10px 10px #3bf448;
}

#image5 {
  box-shadow: 10px 10px 10px #fff200;
}

#image6 {
  box-shadow: 10px 10px 10px #ed31b8;
}

.box:hover {
  filter: alpha(opacity=90%);
  opacity: 0.4;
}
.float-left {
  display: flex;
  font-size: 50px;
  margin-left: 10px;
  flex-wrap: wrap;
  align-items: left;
  margin-top: 20px;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  color: blue;
}



@media screen and (max-width: 768px){
  header {
    flex-direction: column;
  }
  
  main {
    max-width: 1200px;
  }
}