*/* {
color: white;
background-color: black;
}
*/

.card {
    flex: 1 0 200px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.box {
  flex-flow: wrap;
  justify-content: space-between;
  flex: 2 1 200px;
  border: 5px solid black;
  border-radius: 10px;
}

.parent {
    height: 200px;
    width: 200x;
}

.box img {
    width: 100%;
    height: auto;
}

    
.copyright {
        position: absolute;
        bottom: 0;
}

#contact {
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: bottom;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

#header-background {
  background-image: url(/assets/images/44373.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
}